// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

// @import 'prismjs/themes/prism.css'
// @import 'prismjs/themes/prism-coy.css'
// @import 'prismjs/themes/prism-dark.css'
// @import 'prismjs/themes/prism-funky.css'
// @import 'prismjs/themes/prism-okaidia.css'
// @import 'prismjs/themes/prism-solarizedlight.css'
@import 'prismjs/themes/prism-tomorrow.css'
// @import 'prismjs/themes/prism-twilight.css'
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css'
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css'



.emoticon
  font-family:Helvetica,Arial,sans-serif
  font-weight:normal
  line-height:normal
  font-style:normal

.bxslider
  display:none

#marquee
  div
    position:relative
    width:150px
    float:left

.filll
  height: 120%
  top:-20%
  right:0
  position:absolute
  margin:auto

.fillr
  height: 120%
  left:0
  top:-20%
  position:absolute
  margin:auto


.emoji
  display:inline-block
  width:60px
  text-decoration: none

/* stronger highlight */
.line-highlight
  background: hsla(24, 20%, 50%,.28)

.fullscreen
  > .title
    background-color: rgba(0,0,0,.6)
    padding:5px
    text-align:center
    margin:0 0 20px 0
  figure
    border: 2px solid #c0c0c0
    padding: 5px
    margin: 10px
    float:left
    text-align:center
    img
      margin:auto
      max-height:300px
  .left
    left:0
    right:auto
  .right
    left:auto
    right:0

.figureset
  margin:auto
  text-align:center

#banner
  top:-10px


.small, code[class*="language-"].small, pre[class*="language-"].small
  font-size:.8em
.smaller, code[class*="language-"].smaller, pre[class*="language-"].smaller
  font-size:.7em
  line-height: .8em

.box
  &.big
    font-size:2em
  &.fill
    padding: 15px
  ul,ol
    .icon
      height:40px
      vertical-align: middle
      margin-right:10px
    ul
      padding-left:20px
    &.tight
      li
        margin-bottom: 0
        line-height: 1.3em
    &.smaller
      li
        font-size:.7em
        line-height: .8em

.center
  margin: auto

.comment
    color:#999
.file
  text-align:left
  font-family:monospace
  white-space: pre
  .cmd
    color: #0b0
    margin-left:-100px
    margin-top:-50px
    span
      margin-left:-10px
  .alert
    padding: 0 5px

.fancy
  font-family:"Courgette", "EB Garamond", Georgia, cursive


.topics

  .me
    position:relative
    z-index: 9999

.shade.half
  position:absolute
  z-index:99999
  background-color:#aaa
  opacity:.2
  width:50%
  height:100%
  left:0

.emojiTalker
  position:relative
.iconQuote
  display:inline-block
  font-size: .8em
  top:-55px
  position:relative
  left:0
  line-height: .8em
.iconQuoteBubble
  display:inline-block
  position:absolute
.iconQuoteContent
  display:inline-block
  position:absolute
  font-size: .5em
  top:-4px
  left:10px

h1
  font-size: 64px
  img
    vertical-align: middle
    margin-right:5px

.reg
  font-style:normal

.accent
  color: #82cfd4

.blackhat:before
  content: "🧢"
  filter: grayscale(100)
  display: inline-block

.twitter-tweet
  text-shadow:none
  zoom:130%

.col
  width:auto
.row
  margin:auto
  display:inline-flex

.me
  background-image: url("../images/me.jpg")
